In [1]:
print('Hello Wold')

Hello Wold

In [2]:
name = 'Rajshahi'
name

'Rajshahi'

In [3]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
_ = 45
_

45

In [5]:
# snake
first_name = 'Mr Robot'
# camel
firstName = 'Mr Robot'
id(first_name)

1679044922160

In [6]:
# multiple variable 
x, y, z = 3, 4, 5
x

3

In [7]:
# data types
new_var = "let's go"
varsity_name = "University of Rajshahi"
type(new_var)

str

In [8]:
age = 24
type(age)

int

In [9]:
weight = 65.5
type(weight)

float

In [10]:
is_true = True
type(is_true)

bool

In [11]:
int(weight)

65

In [12]:
int(is_true)

1

In [13]:
year = 'Twenty years'
bool(year)

True

### String Manupulation

In [23]:
programming_lang = "rajshahi university"
                #   01234567
dir(programming_lang)
programming_lang.title()

'Rajshahi University'

In [24]:
print(dir(programming_lang))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [66]:
age = 23.5
print(dir(age))
type(age)

['__abs__', '__add__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__setattr__', '__setformat__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']

TypeError: object of type 'float' has no len()

In [1]:
z = 5 + 7j
z.real

5.0

### Muti  valued data types

In [73]:

list = [1,3, 4, 5, 6, 7 ]
result = [3.22,3.5,3.0,3.56,3.4,3.75,2.8,2.9,3.4,3.1]
print(sorted(result))
result[1:3]
# [start:end:step]
result[4:6]
# attribute, methods
result[1::2]
result[-7:-5]
type(result)
len(result)
result.pop()
result

[2.8, 2.9, 3.0, 3.1, 3.22, 3.4, 3.4, 3.5, 3.56, 3.75]

[3.22, 3.5, 3.0, 3.56, 3.4, 3.75, 2.8, 2.9, 3.4]

In [83]:
#tuples
result2 = (3.22,3.5,3.0,3.56,3.4,3.75,2.8,2.9,3.4,3.1,3.0)
type(result2)
dir(result2)
result2.count(3.0)
result2.index(3.0)

2

In [94]:
# dictionary
# key, value 
std_info = {'A': 'anb@gmail.com', 'B': {'mail':'b@gmail.com','phn':'0187362'}, 'C': 'c@gmail.com'}
type(std_info)
std_info.keys()
std_info.values()
std_info['B']['mail']

'b@gmail.com'

In [102]:
set_num = {7,9,3,8,4,3,8,4,8,4}
set_num2 = {7,9,3,8,4,3,8,4,8,4, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
set_num.intersection(set_num2)
print(dir(set_num))

set()